body {
  background:
    radial-gradient(circle at 0 0, #eff6ff 0%, transparent 36%),
    radial-gradient(circle at 100% 0, #e2e8f0 0%, transparent 34%),
    #f1f5f9;
  -webkit-font-smoothing: antialiased;
  color: #0f172a;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Consolas', 'Courier New', monospace;
}
